.addCarContainer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  max-width: 30%;
  padding: 2rem;
  margin: 0 auto;
  border: 3px solid red;
  border-radius: 0.5rem;
}

.title {
  grid-column: 1 / span 2; /* Span both columns */
  text-align: center;
  margin-bottom: 1rem;
}


.label {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.input {
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%; /* Adjust input width to fill the grid cells */
  margin: 0.2rem;
}

.registerButton {
  background-color: #cc6200;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  width: 50%;
  margin: 1rem auto;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field:nth-of-type(11){
  grid-column: 1/ span 2;
}
.field:nth-of-type(12){
  grid-column: 1/ span 2;
  justify-self: center;
}
.field:nth-of-type(9){
  width: 100%;
}
.field:nth-of-type(9) > *{
  width: 100%;
}

@media (max-width: 1377px) {
  .form{
    border: 3px solid green;
    max-width: 50%;
  }
}

@media (max-width: 900px) {
  .form{
    border: 3px solid green;
    max-width: 90%;
    height: 95%;
  }
}