.figure{
    display: flex;
    align-items:center;
    margin-right: 2rem;
}

.img{
    width: 20%;
    height: auto;
    
}

.figcaption{
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: 900;
    color: black;
}