.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 3px solid blue;
}

.noCars {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.carList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cars horizontally */
  margin: 2rem;
  border: 3px solid green;
}

.carWrapper {
  border: 3px solid blue;
  width: 50%; /* Each car wrapper takes 50% width to fit two on the same row */
  box-sizing: border-box; /* Include borders in the width calculation */
  padding: 1rem;
}
